<% provide :title, t("title.home") %>
<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>
  <h2>
    <%= t ".body" %>
    <a href="http://www.railstutorial.org/"><%= t ".rubytuto" %></a>
  </h2>
  <%= link_to t(".sigup"), '#', class: "btn btn-lg btn-primary" %>
</div>
